<h1>Add A Dealership!</h1>

  <form action = "/dealerships" method = "post">
    <div class = "form-group">
      <label id = "name"> Enter the name of the dealership: </label>
      <input id = "name" name = "name" class="form-control" type="text">
    </div>

    <button type = "submit" class="btn-success"> Add Dealer </button>
  </form>
